html{
      font-size: 30px;
      font-family:   'Quicksand', sans-serif;
      color: Purple;
      padding: 5px;
      margin:10px;
      background:linear-gradient( rgba(255,255,255,0.6),rgba(255,255,255,0.6)), url(https://chicagohistoricschools.files.wordpress.com/2013/04/dsc_8795-001.jpg)
}
h1{
    border: 3px solid yellow;
}
h2{
    border: 3px solid yellow;
}
    
      
